# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.vsidx
OnlinePortfolioZB/OnlinePortfolioZB/obj/Debug/netcoreapp3.1/Razor/Views/Home/Partials/_AboutMePartial.cshtml.g.cs
*.cshtml.g.cs
*.csproj.nuget.dgspec.json
*.cache
OnlinePortfolioZB/OnlinePortfolioZB/obj/OnlinePortfolioZB.csproj.nuget.g.props
OnlinePortfolioZB/OnlinePortfolioZB/obj/project.assets.json
OnlinePortfolioZB/OnlinePortfolioZB/obj/Debug/netcoreapp3.1/project.razor.vs.json
*.v5.1
OnlinePortfolioZB/.vs/OnlinePortfolioZB/v17/.suo
*.v2
OnlinePortfolioZB/.vs/OnlinePortfolioZB/FileContentIndex/read.lock
