<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio - Zandré Botha</title>
    
    <link href='http://fonts.googleapis.com/css?family=Cousine:400,700" rel="stylesheet" type="text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css'>
    
    <!-- BOOTSTRAP CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- FONT AWESOME CSS -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- NORMALIZER CSS -->
    <link href="css/normalize.css" rel="stylesheet">
    <!-- OWL CSS -->
    <link href="css/owl.carousel.min.css" rel="stylesheet">
    <!-- OWL THEME CSS -->
    <link href="css/owl.theme.min.css" rel="stylesheet">
    <link href="css/lightbox.min.css" rel="stylesheet">
    <!-- ANIMATED TEXT CSS -->
    <link href="css/animated-text.css" rel="stylesheet">
    <!-- MAIN CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!-- RESPONSIVE CSS -->
    <link href="css/responsive.css" rel="stylesheet">
    <!-- COLOR SWITCHER JS -->
    <link href="css/switcher/switcher.css" rel="stylesheet">
    <link href="css/switcher/style7.css" rel="stylesheet" id="colors">

</head>
<body>

    <main role="main">
        <!-- START PRELOADER AREA-->
        <div class="preloader-area">
            <div class="preloader">
                <div class="preload"></div>
            </div>
        </div>
        <!-- END PRELOADER AREA -->

        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - OnlinePortfolioZB - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <!-- LATEST JQUERY -->
    <script src="js/jquery.min.js"></script>
    <!-- BOOTSTRAP JS-->
    <script src="js/bootstrap.min.js"></script>
    <!-- OWL JS -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- ANIMATED TEXT JS-->
    <script src="js/animated-text.js"></script>
    <!-- ISOTOPE JS -->
    <script src="js/isotope.pkgd.js"></script>
    <!-- LIGHTBOX JS -->
    <script src="js/lightbox.min.js"></script>
    <!-- STICKY JS -->
    <script src="js/jquery.sticky.js"></script>
    <!-- SWITCHER JS -->
    <script src="js/switcher.js"></script>
    <!-- MAIN JS-->
    <script src="js/main.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
