<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio - Zandré Botha</title>
    
    <link href='http://fonts.googleapis.com/css?family=Cousine:400,700" rel="stylesheet" type="text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css'>
    
    <!-- BOOTSTRAP CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- FONT AWESOME CSS -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- NORMALIZER CSS -->
    <link href="css/normalize.css" rel="stylesheet">
    <!-- OWL CSS -->
    <link href="css/owl.carousel.min.css" rel="stylesheet">
    <!-- OWL THEME CSS -->
    <link href="css/owl.theme.min.css" rel="stylesheet">
    <link href="css/lightbox.min.css" rel="stylesheet">
    <!-- ANIMATED TEXT CSS -->
    <link href="css/animated-text.css" rel="stylesheet">
    <!-- MAIN CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!-- RESPONSIVE CSS -->
    <link href="css/responsive.css" rel="stylesheet">
    <!-- COLOR SWITCHER JS -->
    <link href="css/switcher/switcher.css" rel="stylesheet">
    <link href="css/switcher/style1.css" rel="stylesheet" id="colors">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">OnlinePortfolioZB</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - OnlinePortfolioZB - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <!-- LATEST JQUERY -->
    <script src="assets/js/jquery-1.11.3.min.js"></script>
    <!-- BOOTSTRAP JS-->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- OWL JS -->
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- ANIMATED TEXT JS-->
    <script src="assets/js/animated-text.js"></script>
    <!-- ISOTOPE JS -->
    <script src="assets/js/isotope.pkgd.js"></script>
    <!-- LIGHTBOX JS -->
    <script src="assets/js/lightbox.min.js"></script>
    <!-- STICKY JS -->
    <script src="assets/js/jquery.sticky.js"></script>
    <!-- SWITCHER JS -->
    <script src="assets/js/switcher.js"></script>
    <!-- MAIN JS-->
    <script src="assets/js/main.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
