<section id="about" class="about-me-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
                <div class="section-title text-center">
                    <h2>About me</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                    <div class="me-image">
                        <img src="images/semi-formal-cropped.PNG" class="img-circle" alt="">
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="about-me-text">
                        <h2>My Story</h2>
                        <p>I am a full-stack software developer with a proven track record in the .Net tech stack. I love building sexy websites with clean and maintainable code. I always pull my weight in group projects and get along well with my team mates. I have good planning and organizational skills, and have some experience as Dev Team Lead and Scrum Master in the past couple of years. I am well versed in useless Lord of the Rings trivia, and have an amazing beard. </p>

                        @*Leaving these out for now
                        1. From now on I don't want to maintain a separate cv
                        2. I don't to create the impression for my current employer that I am looking for jobs*@

                        @*<a class="about-button" href="">hire me</a>
                        <a class="about-button" href="">download cv</a>*@

                        @*Untill Email are wired up again*@
                        @*<a class="about-button smoth-scroll" href="#contact">Contact me</a>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <!-- PERSONAL INFORMATION DESIGN AREA -->
                <div class="about-info">
                    <h2>personal information</h2>
                    <ul>
                        <li><span>name:</span>Zandré Botha</li>
                        <li><span>Birthday:</span>7 March 1991</li>
                        <li><span>address:</span>Amersfoort, The Netherlands</li>
                        <li><span>email:</span>botha.zandre@gmail.com</li>
                        <li><span>languages:</span>Afrikaans; English; Dutch</li>
                    </ul>
                </div>
                <!-- / END PERSONAL INFORMATION DESIGN AREA -->
            </div>
            <div class="col-sm-6">
                <!-- SKILLS DESIGN AREA -->
                <div class="skill-area">
                    <h2>key skills</h2>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width:85%">
                            C#; Entity Framework
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width:85%">
                            Angular; Typescript
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width:55%">
                            SQL
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width:80%">
                            HTML; CSS
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width:65%">
                            SCRUM Master; Dev Manager; Team Lead
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width:100%">
                            Get things done
                        </div>
                    </div>
                </div>
                <!-- /END SKILLS DESIGN AREA -->
            </div>
        </div>
    </div>
</section>