<section id="contact" class="Contact section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
                <div class="section-title">
                    <h2>contact me</h2>
                </div>
            </div>
        </div>
        <!-- CONTACT DETAILS DESIGN AREA -->
        <div class="row">
            <div class="col-md-4">
                <div class="single-contact">
                    <h2>Address:</h2>
                    <p>121 King Street, Melbourne,Australia</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-contact">
                    <h2>Phone:</h2>
                    <p>+61 (0)3 9251 5036</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-contact">
                    <h2>Email:</h2>
                    <p>me@webitename.com</p>
                </div>
            </div>
        </div>
        <!-- / END CONTACT DETAILS DESIGN AREA -->
        <div class="row">
            <!-- CONTACT FORM DESIGN AREA -->
            <div class="contact-form">
                <form action="php/contact.php" method="post">
                    <div class="form-group col-md-6">
                        <input type="text" name="name" class="form-control" id="first-name" placeholder="*Enter Your Name" required="required">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="email" name="email" class="form-control" id="email" placeholder="* Enter Your Email" required="required">
                    </div>
                    <div class="form-group col-md-12">
                        <textarea rows="6" name="message" class="form-control" id="description" placeholder="* Enter YourMessage" required="required"></textarea>
                    </div>
                    <div class="col-md-12 text-center">
                        <button>Send Message</button>
                    </div>
                </form>
            </div>
            <!-- / END CONTACT FORM DESIGN AREA -->
        </div>
    </div>
</section>