@model ContactMeMessage

<section id="contact" class="Contact section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
                <div class="section-title">
                    <h2>contact me</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="single-contact">
                    <h2>Address:</h2>
                    <p>Karel Doornmanlaan 65, Hilversum, 1215NK, The Netherlands</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-contact">
                    <h2>Phone:</h2>
                    <p>(SA) +27 76 569 7148</p>
                    <p>(NL) +31 62 512 8054</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-contact">
                    <h2>Email:</h2>
                    <p>botha.zandre@gmail.com</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="contact-form">
                <form asp-action="ContactMe">
                    <div class="form-group col-md-6">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-12">
                        <label asp-for="Message" class="control-label"></label>
                        <textarea rows="6"
                                  class="form-control"
                                  id="description"
                                  asp-for="Message"
                                  required="required"></textarea>
                    </div>
                    <div class="col-md-12 text-center">
                        <button type="submit">Send Message</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>