<section id="resume" class="education">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
                <div class="section-title">
                    <h2>Education</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="single-education">
                            <i class="fa fa-book"></i>
                            <h2>Outeniqua High School</h2>
                            <h3 class="text-muted">2005 - 2009</h3>
                            <h3 class="text-muted">George, South Africa</h3>
                            <p>Secondary Education</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="single-education">
                            <i class="fa fa-book"></i>
                            <h2>North-West University</h2>
                            <h3 class="text-muted">2010 - 2013</h3>
                            <h3 class="text-muted">Potchefstroom, South Africa</h3>
                            <p>BA Language Technology</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="single-education">
                            <i class="fa fa-book"></i>
                            <h2>Nelson Mandela University</h2>
                            <h3 class="text-muted">2014</h3>
                            <h3 class="text-muted">Port Elizabeth, South Africa</h3>
                            <p>BSc Hons Computing Science</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>