<section id="informal_education" class="work section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
                <div class="section-title">
                    <h2>Informal Education</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="filters col-md-12">
                <ul id="filters">
                    <li class="active" data-filter="*">All</li>
                    <li data-filter=".dev">Software Dev</li>
                    <li data-filter=".management">Management</li>
                    <li data-filter=".language">Language</li>
                </ul>
            </div>
        </div>
        <div class="work-inner">
            <div class="row work-posts grid">
                <div class="col-md-4 col-sm-4 web dev">
                    <div class="item">
                        <img src="images/informal-education/angular-and-typescript.jpg" alt="">
                        <a href="images/informal-education/angular-and-typescript.jpg" data-lightbox="roadtrip">
                            <div class="portfolio-caption">
                                <h4>View</h4>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 web dev">
                    <div class="item">
                        <img src="images/informal-education/figma-fundamentals.jpg" alt="">
                        <a href="images/informal-education/figma-fundamentals.jpg" data-lightbox="roadtrip">
                            <div class="portfolio-caption">
                                <h4>View</h4>
                            </div>
                        </a>
                    </div>
                </div>
                
                <div class="col-md-4 col-sm-4 web dev">
                    <div class="item">
                        <img src="images/informal-education/Great-UI-design.jpg" alt="">
                        <a href="images/informal-education/Great-UI-design.jpg" data-lightbox="roadtrip">
                            <div class="portfolio-caption">
                                <h4>View</h4>
                            </div>
                        </a>
                    </div>
                </div>
                
                <div class="col-md-4 col-sm-4 web language">
                    <div class="item">
                        <img src="images/informal-education/IELTS.PNG" alt="">
                        <a href="images/informal-education/IELTS.PNG" data-lightbox="roadtrip">
                            <div class="portfolio-caption">
                                <h4>View</h4>
                            </div>
                        </a>
                    </div>
                </div>
                
                <div class="col-md-4 col-sm-4 web dev">
                    <div class="item">
                        <img src="images/informal-education/sass-and-css.jpg" alt="">
                        <a href="images/informal-education/sass-and-css.jpg" data-lightbox="roadtrip">
                            <div class="portfolio-caption">
                                <h4>View</h4>
                            </div>
                        </a>
                    </div>
                </div>
                
                <div class="col-md-4 col-sm-4 web dev">
                    <div class="item">
                        <img src="images/informal-education/Udemy - C_sharp anti-patterns.jpg" alt="">
                        <a href="images/informal-education/Udemy - C_sharp anti-patterns.jpg" data-lightbox="roadtrip">
                            <div class="portfolio-caption">
                                <h4>View</h4>
                            </div>
                        </a>
                    </div>
                </div>
                
                <div class="col-md-4 col-sm-4 web dev">
                    <div class="item">
                        <img src="images/informal-education/UX-strategy.jpg" alt="">
                        <a href="images/informal-education/UX-strategy.jpg" data-lightbox="roadtrip">
                            <div class="portfolio-caption">
                                <h4>View</h4>
                            </div>
                        </a>
                    </div>
                </div>
                
                <div class="col-md-4 col-sm-4 web dev">
                    <div class="item">
                        <img src="images/informal-education/mvc.jpg" alt="">
                        <a href="images/informal-education/mvc.jpg" data-lightbox="roadtrip">
                            <div class="portfolio-caption">
                                <h4>View</h4>
                            </div>
                        </a>
                    </div>
                </div>
                
                <div class="col-md-4 col-sm-4 web management">
                    <div class="item">
                        <img src="images/informal-education/csm.JPG" alt="">
                        <a href="images/informal-education/csm.JPG" data-lightbox="roadtrip">
                            <div class="portfolio-caption">
                                <h4>View</h4>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 web language">
                    <div class="item">
                        <img src="images/informal-education/LearnDutchA2.png" alt="">
                        <a href="images/informal-education/LearnDutchA2.png" data-lightbox="roadtrip">
                            <div class="portfolio-caption">
                                <h4>View</h4>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 web dev">
                    <div class="item">
                        <img src="images/informal-education/pluralsight_Angular_ngrx_getting_started.png" alt="">
                        <a href="images/informal-education/pluralsight_Angular_ngrx_getting_started.png" data-lightbox="roadtrip">
                            <div class="portfolio-caption">
                                <h4>View</h4>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 web dev">
                    <div class="item">
                        <img src="images/informal-education/pluralsight_rxjs_in_Angular_reactive_development.png" alt="">
                        <a href="images/informal-education/pluralsight_rxjs_in_Angular_reactive_development.png" data-lightbox="roadtrip">
                            <div class="portfolio-caption">
                                <h4>View</h4>
                            </div>
                        </a>
                    </div>
                </div>                
                
                <div class="col-md-4 col-sm-4 web dev">
                    <div class="item">
                        <img src="images/informal-education/pluralsight_Building_Your_First_API_with_ASPNET_Core.png" alt="">
                        <a href="images/informal-education/pluralsight_Building_Your_First_API_with_ASPNET_Core.png" data-lightbox="roadtrip">
                            <div class="portfolio-caption">
                                <h4>View</h4>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 web dev">
                    <div class="item">
                        <img src="images/informal-education/pluralsight-angular-services.png" alt="">
                        <a href="images/informal-education/pluralsight-angular-services.png" data-lightbox="roadtrip">
                            <div class="portfolio-caption">
                                <h4>View</h4>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 web dev">
                    <div class="item">
                        <img src="images/informal-education/pluralsight_Angular_routing.png" alt="">
                        <a href="images/informal-education/pluralsight_Angular_routing.png" data-lightbox="roadtrip">
                            <div class="portfolio-caption">
                                <h4>View</h4>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 web dev">
                    <div class="item">
                        <img src="images/informal-education/msft-azure-fundamentals_intro-to-az900.jpg" alt="">
                        <a href="images/informal-education/msft-azure-fundamentals_intro-to-az900.jpg" data-lightbox="roadtrip">
                            <div class="portfolio-caption">
                                <h4>View</h4>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 web dev">
                    <div class="item">
                        <img src="images/informal-education/msft-azure-cloud-concepts.jpg" alt="">
                        <a href="images/informal-education/msft-azure-cloud-concepts.jpg" data-lightbox="roadtrip">
                            <div class="portfolio-caption">
                                <h4>View</h4>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 web dev">
                    <div class="item">
                        <img src="images/informal-education/msft-azure-services-and-concepts.jpg" alt="">
                        <a href="images/informal-education/msft-azure-services-and-concepts.jpg" data-lightbox="roadtrip">
                            <div class="portfolio-caption">
                                <h4>View</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>