<section id="interests" class="blog-area">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
                <div class="section-title">
                    <h2>Interests and Side Projects</h2>
                </div>
            </div>
        </div>
        <div class="row">

            @*SQUASH*@
            <div class="col-md-4">
                <div class="single-blog">
                    <img src="images/interests/squash.jpg" alt="" class="img-responsive">
                    <div class="blog-content">
                        <h2>Squash</h2>
                        <h3 class="text-muted">Interests</h3>
                        <p>I enjoy playing squash</p>
                        <a href="#interests_1" data-toggle="modal" class="read-more">Read more</a>
                    </div>
                </div>
            </div>

            @*SPORT*@
            <div class="col-md-4">
                <div class="single-blog">
                    <img src="images/interests/sport.JPG" alt="" class="img-responsive">
                    <div class="blog-content">
                        <h2>Sport</h2>
                        <h3 class="text-muted">Interests</h3>
                        <p>I follow a wide variety of sports</p>
                        <a href="#interests_2" data-toggle="modal" class="read-more">Read more</a>
                    </div>
                </div>
            </div>

            @*AZURE*@
@*            <div class="col-md-4">
                <div class="single-blog">
                    <img src="images/interests/Azure.JPG" alt="" class="img-responsive">
                    <div class="blog-content">
                        <h2>MS Azure</h2>
                        <h3 class="text-muted">Side Projects</h3>
                        <p>I’ve started to poke around Microsoft Azure</p>
                        <a href="#interests_3" data-toggle="modal" class="read-more">Read more</a>
                    </div>
                </div>
            </div>*@

            @*SQUASHBOT*@
            <div class="col-md-4">
                <div class="single-blog">
                    <img src="images/interests/squashbot.png" alt="" class="img-responsive">
                    <div class="blog-content">
                        <h2>SquashBot</h2>
                        <h3 class="text-muted">Side Projects</h3>
                        <p>SquashBot is a mobile app that I developed</p>
                        <a href="#interests_4" data-toggle="modal" class="read-more">Read more</a>
                    </div>
                </div>
            </div>

            @*Reading*@
            <div class="col-md-4">
                <div class="single-blog">
                    <img src="images/interests/read.JPG" alt="" class="img-responsive">
                    <div class="blog-content">
                        <h2>Reading</h2>
                        <h3 class="text-muted">Interests</h3>
                        <p>I enjoy reading from a variety of genres</p>
                        <a href="#interests_5" data-toggle="modal" class="read-more">Read more</a>
                    </div>
                </div>
            </div>

            @*Daily Dev*@
            <a href="https://app.daily.dev/Zandre_B">
                <img src="https://api.daily.dev/devcards/489bdbb0e5e846f288401772d2e5ea89.png?r=pbq" width="400" alt="Zandre Botha's Dev Card" />
            </a>

        </div>
    </div>
</section>

@*SQUASH*@
<div id="interests_1" class="modal">
    <partial name="Partials/Interests/_SquashPartial" />
</div>

@*SPORT*@
<div id="interests_2" class="modal">
    <partial name="Partials/Interests/_SportsPartial" />
</div>

@*MS AZURE*@
@*<div id="interests_3" class="modal">
    <partial name="Partials/Interests/_MsAzurePartial" />
</div>*@

@*SQUASHBOT*@
<div id="interests_4" class="modal">
    <partial name="Partials/Interests/_SquashBotPartial" />
</div>

@*READING*@
<div id="interests_5" class="modal">
    <partial name="Partials/Interests/_ReadingPartial" />
</div>