@{
    ViewData["Title"] = "Home Page";
}

<partial name="Partials/_HeaderPartial"/>
<partial name="Partials/_MenuDesignPartial"/>
<partial name="Partials/_AboutMePartial"/>
<partial name="Partials/_EducationPartial"/>
<partial name="Partials/_ExperiencePartial"/>




<!-- SERVICE DESIGN AREA -->
<section id="service" class="service-area">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
                <div class="section-title">
                    <h2>service</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <!-- SINGLE SERVICE DESIGN AREA -->
                    <div class="col-md-4 col-sm-6">
                        <div class="single-service">
                            <i class="fa fa-camera"></i>
                            <h2>photography</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                        </div>
                    </div>
                    <!-- / END SINGLE SERVICE DESIGN AREA -->
                    <!-- SINGLE SERVICE DESIGN AREA -->
                    <div class="col-md-4 col-sm-6">
                        <div class="single-service">
                            <i class="fa fa-laptop"></i>
                            <h2>Web design</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                        </div>
                    </div>
                    <!-- / END SINGLE SERVICE DESIGN AREA -->
                    <!-- SINGLE SERVICE DESIGN AREA -->
                    <div class="col-md-4 col-sm-6">
                        <div class="single-service">
                            <i class="fa fa-code"></i>
                            <h2>web development</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                        </div>
                    </div>
                    <!-- / END SINGLE SERVICE DESIGN AREA -->
                    <!-- SINGLE SERVICE DESIGN AREA -->
                    <div class="col-md-4 col-sm-6">
                        <div class="single-service">
                            <i class="fa fa-wordpress"></i>
                            <h2>wordpress</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                        </div>
                    </div>
                    <!-- / END SINGLE SERVICE DESIGN AREA -->
                    <!-- SINGLE SERVICE DESIGN AREA -->
                    <div class="col-md-4 col-sm-6">
                        <div class="single-service">
                            <i class="fa fa-codepen"></i>
                            <h2>coding</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                        </div>
                    </div>
                    <!-- / END SINGLE SERVICE DESIGN AREA -->
                    <!-- SINGLE SERVICE DESIGN AREA -->
                    <div class="col-md-4 col-sm-6">
                        <div class="single-service">
                            <i class="fa fa-users"></i>
                            <h2>support</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                        </div>
                    </div>
                    <!-- / END SINGLE SERVICE DESIGN AREA -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / END SERVICE DESIGN AREA -->
<!-- WORK DESIGN AREA -->
<section id="work" class="work section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
                <div class="section-title">
                    <h2>portfolio</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="filters col-md-12">
                <ul id="filters">
                    <li class="active" data-filter="*">All</li>
                    <li data-filter=".graphic">Graphic</li>
                    <li data-filter=".photography">Photography</li>
                    <li data-filter=".typography">Typography</li>
                    <li data-filter=".web">Web Design</li>
                </ul>
            </div>
        </div>
        <div class="work-inner">
            <div class="row work-posts grid">
                <!-- START SINGLE WORK DESIGN AREA -->
                <div class="col-md-4 col-sm-4 web photography">
                    <div class="item">
                        <img src="images/portfolio/1.jpg" alt="">
                        <a href="images/portfolio/1.jpg" data-lightbox="roadtrip">
                            <div class="portfolio-caption">
                                <h4>View</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- END SINGLE WORK DESIGN AREA -->
                <!-- START SINGLE WORK DESIGN AREA -->
                <div class="col-md-4 col-sm-4 graphic photography">
                    <div class="item">
                        <img src="images/portfolio/2.jpg" alt="">
                        <a href="images/portfolio/2.jpg" data-lightbox="roadtrip">
                            <div class="portfolio-caption">
                                <h4>View</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- END SINGLE WORK DESIGN AREA -->
                <!-- START SINGLE WORK DESIGN AREA -->
                <div class="col-md-4 col-sm-4 web">
                    <div class="item">
                        <img src="images/portfolio/3.jpg" alt="">
                        <a href="images/portfolio/3.jpg" data-lightbox="roadtrip">
                            <div class="portfolio-caption">
                                <h4>View</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- END SINGLE WORK DESIGN AREA -->
                <!-- START SINGLE WORK DESIGN AREA -->
                <div class="col-md-4 col-sm-4 typography">
                    <div class="item">
                        <img src="images/portfolio/4.jpg" alt="">
                        <a href="images/portfolio/4.jpg" data-lightbox="roadtrip">
                            <div class="portfolio-caption">
                                <h4>View</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- END SINGLE WORK DESIGN AREA -->
                <!-- START SINGLE WORK DESIGN AREA -->
                <div class="col-md-4 col-sm-4 typography web">
                    <div class="item">
                        <img src="images/portfolio/5.jpg" alt="">
                        <a href="images/portfolio/5.jpg" data-lightbox="roadtrip">
                            <div class="portfolio-caption">
                                <h4>View</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- END SINGLE WORK DESIGN AREA -->
                <!-- START SINGLE WORK DESIGN AREA -->
                <div class="col-md-4 col-sm-4 graphic photography">
                    <div class="item">
                        <img src="images/portfolio/6.jpg" alt="">
                        <a href="images/portfolio/6.jpg" data-lightbox="roadtrip">
                            <div class="portfolio-caption">
                                <h4>View</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- END SINGLE WORK DESIGN AREA -->
                <!-- START SINGLE WORK DESIGN AREA -->
                <div class="col-md-4 col-sm-4 web typography">
                    <div class="item">
                        <img src="images/portfolio/1.jpg" alt="">
                        <a href="images/portfolio/1.jpg" data-lightbox="roadtrip">
                            <div class="portfolio-caption">
                                <h4>View</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- END SINGLE WORK DESIGN AREA -->
                <!-- START SINGLE WORK DESIGN AREA -->
                <div class="col-md-4 col-sm-4 photography">
                    <div class="item">
                        <img src="images/portfolio/2.jpg" alt="">
                        <a href="images/portfolio/2.jpg" data-lightbox="roadtrip">
                            <div class="portfolio-caption">
                                <h4>View</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- END SINGLE WORK DESIGN AREA -->
                <!-- START SINGLE WORK DESIGN AREA -->
                <div class="col-md-4 col-sm-4 graphic">
                    <div class="item">
                        <img src="images/portfolio/3.jpg" alt="">
                        <a href="images/portfolio/3.jpg" data-lightbox="roadtrip">
                            <div class="portfolio-caption">
                                <h4>View</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- END SINGLE WORK DESIGN AREA -->
            </div>
        </div>
    </div>
</section>
<!-- / END WORK DESIGN AREA -->
<!-- TESTIMONIAL DESIGN AREA -->
<section id="testimonial" class="testimonial-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
                <div class="section-title">
                    <h2>testimonial</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="testimonial-list">
                    <!-- SINGLE TESTIMONIAL DESIGN AREA -->
                    <div class="single-testimonial">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <h2>Larry Page</h2>
                        <h3 class="text-muted">CEO of Google</h3>
                    </div>
                    <!-- / END SINGLE TESTIMONIAL DESIGN AREA -->
                    <!-- SINGLE TESTIMONIAL DESIGN AREA -->
                    <div class="single-testimonial">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <h2>Steve Jobs</h2>
                        <h3 class="text-muted">CEO of apple</h3>
                    </div>
                    <!-- / END SINGLE TESTIMONIAL DESIGN AREA -->
                    <!-- SINGLE TESTIMONIAL DESIGN AREA -->
                    <div class="single-testimonial">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <h2>Mark Zuckerberg </h2>
                        <h3 class="text-muted">CEO of facebook</h3>
                    </div>
                    <!-- / END SINGLE TESTIMONIAL DESIGN AREA -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / END TESTIMONIAL DESIGN AREA -->
<!-- START BLOG DESIGN AREA -->
<section id="blog" class="blog-area">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
                <div class="section-title">
                    <h2>blog</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- START SINGLE BLOG DESIGN AREA -->
            <div class="col-md-4">
                <div class="single-blog">
                    <img src="images/blog/blog1.jpg" alt="" class="img-responsive">
                    <div class="blog-content">
                        <a href="single-blog.html"><h2>this is an image post</h2></a>
                        <h3 class="text-muted">date:07 aug 16</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <a href="#" class="read-more">Read more</a>
                    </div>
                </div>
            </div>
            <!-- / END SINGLE BLOG DESIGN AREA -->
            <!-- START SINGLE BLOG DESIGN AREA -->
            <div class="col-md-4">
                <div class="single-blog">
                    <img src="images/blog/blog2.jpg" alt="" class="img-responsive">
                    <div class="blog-content">
                        <a href="single-blog.html"><h2>this is an image post</h2></a>
                        <h3 class="text-muted">date:07 aug 16</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <a href="#" class="read-more">Read more</a>
                    </div>
                </div>
            </div>
            <!-- / END SINGLE BLOG DESIGN AREA -->
            <!-- START SINGLE BLOG DESIGN AREA -->
            <div class="col-md-4">
                <div class="single-blog">
                    <img src="images/blog/blog3.jpg" alt="" class="img-responsive">
                    <div class="blog-content">
                        <a href="single-blog.html"><h2>this is an image post</h2></a>
                        <h3 class="text-muted">date:07 aug 16</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <a href="#" class="read-more">Read more</a>
                    </div>
                </div>
            </div>
            <!-- / END SINGLE BLOG DESIGN AREA -->
        </div>
    </div>
</section>
<!-- / END BLOG DESIGN AREA -->
<!-- CONTACT DESIGN AREA -->
<section id="contact" class="Contact section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
                <div class="section-title">
                    <h2>contact me</h2>
                </div>
            </div>
        </div>
        <!-- CONTACT DETAILS DESIGN AREA -->
        <div class="row">
            <div class="col-md-4">
                <div class="single-contact">
                    <h2>Address:</h2>
                    <p>121 King Street, Melbourne,Australia</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-contact">
                    <h2>Phone:</h2>
                    <p>+61 (0)3 9251 5036</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-contact">
                    <h2>Email:</h2>
                    <p>me@webitename.com</p>
                </div>
            </div>
        </div>
        <!-- / END CONTACT DETAILS DESIGN AREA -->
        <div class="row">
            <!-- CONTACT FORM DESIGN AREA -->
            <div class="contact-form">
                <form action="php/contact.php" method="post">
                    <div class="form-group col-md-6">
                        <input type="text" name="name" class="form-control" id="first-name" placeholder="*Enter Your Name" required="required">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="email" name="email" class="form-control" id="email" placeholder="* Enter Your Email" required="required">
                    </div>
                    <div class="form-group col-md-12">
                        <textarea rows="6" name="message" class="form-control" id="description" placeholder="* Enter YourMessage" required="required"></textarea>
                    </div>
                    <div class="col-md-12 text-center">
                        <button>Send Message</button>
                    </div>
                </form>
            </div>
            <!-- / END CONTACT FORM DESIGN AREA -->
        </div>
    </div>
</section>
<!-- / END CONTACT DESIGN AREA -->
<!-- FOOTER DESIGN AREA -->
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>&copy; Vhinno 2016 All right Reserved.</p>
            </div>
        </div>
    </div>
</footer>
<!-- / END FOOTER DESIGN AREA -->
<!-- SWITCHER DESIGN AREA -->
<div id="style-switcher">
    <h2>Choose Color<a href="#"><i class="fa fa-cog fa-tachometer"></i></a></h2>
    <div>
        <ul class="colors" id="color1">
            <li>
                <a href="#" class="style1"></a>
            </li>
            <li>
                <a href="#" class="style2"></a>
            </li>
            <li>
                <a href="#" class="style3"></a>
            </li>
            <li>
                <a href="#" class="style4"></a>
            </li>
            <li>
                <a href="#" class="style5"></a>
            </li>
            <li>
                <a href="#" class="style6"></a>
            </li>
            <li>
                <a href="#" class="style7"></a>
            </li>
            <li>
                <a href="#" class="style8"></a>
            </li>

        </ul>
    </div>
</div>
<!-- / END SWITCHER DESIGN AREA -->
<!-- START SCROOL UP DESIGN AREA -->
<div class="scroll-to-up">
    <div class="scrollup">
        <i class="fa fa-angle-up"></i>
    </div>
</div>
<!-- / END SCROOL UP DESIGN AREA -->
