<div class="modal-dialog modalz">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">MS Azure</h2>
        </div>
        <div class="modal-body">
            More recently I’ve started to poke around the Microsoft suite of online products and services. I’ve managed to host SQL databases and web apps on the platform to create websites for friends in my local community. Ideally, I would like to upskill in this particular area a lot more, but for now it remains a hobby that keeps me busy at infrequent intervals.
        </div>
    </div>
</div>