<div class="modal-dialog modalz">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Reading</h2>
        </div>
        <div class="modal-body">
            <p>I enjoy to read from a variety of genres, most notably fantasy and epics. My adolescence was dominated by Harry Potter, Eragon, and The Lord of the Rings.</p>
            <p>More recently I've started reading a bit more political commentary and historical epics. I devour anything from Ken Follet as soon as I can get my hands on it.</p>
        </div>
    </div>
</div>