<div class="modal-dialog modalz">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Sport</h2>
        </div>
        <div class="modal-body">
            I follow a wide variety of sports on television and also participate in some of them. In addition to playing squash, I like to play golf and Ultimate Frisbee or going for a run. For me there's few things better than good game of rugby or cricket on a Saturday afternoon, coupled with a lekker braai and a few beers.
        </div>
    </div>
</div>