<div class="modal-dialog modalz">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">SquashBot</h2>
        </div>
        <div class="modal-body">
            <p>SquashBot is a mobile app that I developed in Java for the Android platform. The app allows the user to score a squash game electronically. The app also has a tournament/league section, which runs squash leagues or team tournaments electronically and includes detailed logs, fixtures, and other useful tournament information. SquashBot started as a semester project for a mobile development course I took in 2014, but later snowballed into a bigger project after I’ve completed my studies.</p>
            <p>SquashBot was launched specifically for the Jarvis Kaplan squash tournament of 2015 and received very positive feedback from the tournament organizers and participants. Afterward, I’ve maintained the app by continuously adding features and fixing existing bugs.</p>
            <p>I maintained the app up until 2018 and then stopped. The app got taken off the Google Play store some time in 2020</p>
        </div>
    </div>
</div>