<div class="modal-dialog modalz">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Squash</h2>
        </div>
        <div class="modal-body">
            I have some informal coaching experience and a highest official South African ranking of #47. I used to play full-time leagues during the year, but over the last 2 years have taken a step back and now I enjoy social squash and doubles with friends.
        </div>
    </div>
</div>