<div class="modal-dialog modalz">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Software Developer</h2>
        </div>
        <div class="modal-body">

            <div class="single-education">
                <h3 class="text-muted">I.D.I Technology Solutions (BarnOwl)</h3>
                <h3 class="text-muted">January 2015 - April 2018</h3>
                <h3 class="text-muted">Bryanston, South Africa</h3>
                <a href="http://www.idi.co.za/" target="_blank">
                    Go to company website
                </a>
            </div>

            <div class="single-education">
                <h4>Main Responsibilities</h4>
                <ol>
                    <li>Develop new features</li>
                    <li>Database (sql) development and maintenance</li>
                    <li>Bug fixes</li>
                    <li>Provide support occasionally for support and implementation teams</li>
                    <li>Build new production releases (still a manual process at that time)</li>
                    <li>Guide new recruits in the dev team until they're up to speed</li>
                </ol>
            </div>

            <div class="single-education">
                <h4>Tech Stack</h4>
                <ol>
                    <li>C# .Net</li>
                    <li>T-SQL</li>
                </ol>
            </div>

            <div class="single-education">
                <h4>Workbench</h4>
                <ol>
                    <li>MS Visual Studio</li>
                    <li>MS SQL Server Management Studio</li>
                    <li>JIRA</li>
                </ol>
            </div>

        </div>
    </div>
</div>