<div class="modal-dialog modalz">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Senior Applications Consultant</h2>
        </div>
        <div class="modal-body">

            <div class="single-education">
                <h3 class="text-muted">Capgemini</h3>
                <h3 class="text-muted">February 2022 - present</h3>
                <h3 class="text-muted">Utrecht, The Netherlands</h3>
                <a href="https://www.capgemini.com/" target="_blank">
                    Go to company website
                </a>
            </div>
        </div>
    </div>
</div>