<div class="modal-dialog modalz">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Development Manager</h2>
        </div>
        <div class="modal-body">
            <h3 class="text-muted">Inoxico</h3>
            <h3 class="text-muted">mid 2020 - present</h3>
            <h3 class="text-muted">Braamfontein, South Africa</h3>

            <br />
            <p>During the course of 2020 I gradually starting taking over some responsibility from my line manager to move into the role of Development Manager.
                I still doubled as Intermediate Software Developer when not dealing with Development Manager responsibilities.</p>

            <h4>Team Performance Responsibilities</h4>
            <ol>
                <li>Measure/Maintain dev team KPI's (Goals; Planned work; Velocity shortfall)</li>
                <li>Measure/Maintain dev cadence (Spillover; Technical Debt)</li>
                <li>Team attrition rate</li>
                <li>Maintain bi-weekly deployment cycle</li>
            </ol>
            <br />
            
            <h4>Administrative Responsibilities</h4>
            <ol>
                <li>Co-ordinate SCRUM execution (Daily SCRUM; Retrospective; Review; Experiments)</li>
                <li>Recruitment for new/open positions</li>
                <li>Do quarterly performance reviews with dev team members</li>
                <li>Do regular personal check-ins with dev team members</li>
                @*<li>Manage team leave requests</li>*@
            </ol>
            <br />

            <a href="https://www.inoxico.com/" target="_blank">
                Go to company website
            </a>

        </div>
    </div>
</div>