<div class="modal-dialog modalz">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Intermediate Software Developer</h2>
        </div>
        <div class="modal-body">
            
            <div class="single-education">
                <h3 class="text-muted">Inoxico</h3>
                <h3 class="text-muted">May 2018 - present</h3>
                <h3 class="text-muted">Braamfontein, South Africa</h3>
                <div>
                    <a href="https://www.inoxico.com/" target="_blank">
                        Go to company website
                    </a>
                </div>
            </div>

            <div class="single-education">
                <h4>Main Responsibilities</h4>
                <ol>
                    <li>Develop new features</li>
                    <li>Bug fixes</li>
                    <li>Provide support occasionally for support and implementation teams</li>
                    <li>SCRUM Master since January 2018</li>
                </ol>
            </div>

            <div class="single-education">
                <h4>Tech Stack</h4>
                <ol>
                    <li>C# Entity Framework</li>
                    <li>Javascript; Typescript</li>
                    <li>Angular; AngularJS</li>
                    <li>SQL</li>
                    <li>HTML; CSS; SCSS</li>
                </ol>
            </div>

            <div class="single-education">
                <h4>Workbench</h4>
                <ol>
                    <li>MS Visual Studio</li>
                    <li>MS Visual Studio Code</li>
                    <li>MS SQL Server Management Studio</li>
                    <li>Intent Architect</li>
                    <li>Postman</li>
                    <li>SOAP UI</li>
                    <li>JIRA</li>
                    <li>Confluence</li>
                </ol>
            </div>

            <div>
                <a href="https://bcert.me/sdywsbosx" target="_blank">
                    Scrum Master Certification
                </a>
            </div>
        </div>
    </div>
</div>